html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container{
  display: inline-flex;
  flex-direction: column;
  max-width: 95%;
  /* border: 2px solid black; */
  height: 100%;
}
.container-card{
  height: 25%;
  display: grid;
  grid-template-columns: 150px; 
  grid-auto-flow: column;
  grid-auto-columns:  150px;
  gap: 0.5rem;
  width: 90%;
  margin: 1rem auto;  
  overflow-x: scroll;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.active {
  /* background-color: blue; */
  /* background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%); */
  background: linear-gradient(  #1ed5a9 );
  background:   #1ed5a9 ;
  color: #f2f2f2;
  height: 100%;
  margin: 0;
  border-radius: 4rem;
  
}

.wrapper-sub{
  margin:1rem 2rem;
  display: flex;
  justify-content: start;
  
}

.wrapper-btn{
  border-radius: 4rem;
  margin-left: 3rem;
  /* border: 2px  #222; */
  background-color: #f2f2f2;
  padding: 0;
}

.wrapper-btn > button {
  padding: 0.5rem;
  border-radius: 4rem;
  border: none;
  cursor: pointer;
}
.wrapper-btn > button:nth-child(1) {
  margin-right: 0.5rem;
  border: none;

}

form {
  border-radius: 4rem;
  margin-left: 3rem;
  /* border: 1px solid #222; */
  /* padding-left:1r}em; */
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 90%;
  background-color: #f2f2f2;
}

form > input:nth-child(1) {
  background-color: #f2f2f2;
  padding: 0.5rem;
  border-radius: 4rem;
  width: 100%;
  border: none;

}
form > input:nth-child(1) :hover{
  padding: 0.5rem;
  border-radius: 4rem;
  width: 100%;
  
}



form > input:nth-child(2) {
  padding: 0.5rem;
  border-radius: 4rem;
  border: none;
  background:   #1ed5a9 ;
  color: #f2f2f2;
  margin: 0;
  cursor: pointer;
}


 .no-results{
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: red;
  display: flex;
  margin-left:5rem;
  height: 13px;
}

.results{
    height: 13px;
}

.po{
  cursor: pointer;
  color: red;
}